<p>

<img src=<%="#{painting.image}" %> width="150em">
<br><br>
<strong>Title:</strong>
<%= painting.title %><br>
<strong>Year:</strong>
<%= painting.year %><br>
<strong>Style:</strong>
<%= painting.style %><br>
<strong>Medium:</strong>
<%= painting.medium %>
</p>
<p>
<%= link_to 'Remove Painting', [painting.artist, painting], method: :delete, data: {confirm: 'Are you sure?'} %>
</p>