<p>
<strong>image(text):</strong>
<%= painting.image %>
<br><br>
<strong>Title:</strong>
<%= painting.title %><br>
<strong>Year:</strong>
<%= painting.year %><br>
<strong>Style:</strong>
<%= painting.style %><br>
<strong>Medium:</strong>
<%= painting.medium %>
</p>