<ul>

<% @animals.each do |animal | %>

	<li><%= link_to animal.name, animal %></li>
	<!-- <li>Species: <%=animal.species %></li>
	<li>Breed: <%=animal.breed %></li>
	<li>Age: <%=animal.age %></li>
	<li>Sex: <%=animal.sex %></li>
	<li>Date in: <%=animal.arrival_time %></li>
	<li>Date out: <%=animal.departure_time %></li> -->
	

<% end %>
</ul>