<table>
<tr>
<th>Animal Name</th>
<th>  Species  </th>
<th>More Information</th>
<th colspan='5'></th>
</tr>

<!-- This whole table is wonky. -->
<% @animals.each do |animal | %>
<tr>
	<td><%= animal.name %></td>
	<td><%= animal.species %></td>
	<td><%= link_to animal.name, animal %></td>
	<td><%= link_to 'Edit Details', edit_animal_path(animal) %></td>
	<td><%= link_to 'Remove Data', animal_path(animal), method: :delete, data: { confirm: 'Are you sure?'} %></td>
	</tr>

<% end %>

</table>



