<h2><%= @animal.name %></h2>
<ul>
	<li>Species: <%= @animal.species %></li>
	<li>Breed: <%= @animal.breed %></li>
	<li>Age: <%= @animal.age %></li>
	<li>Sex: <%= @animal.sex %></li>
	<li>Date in: <%= @animal.arrival_time %></li>
	<li>Date out: <%= @animal.departure_time %></li>
</ul>

<%= link_to 'Back', animals_path %>