<ul>
<%= form_for @recipe do |f| %>
	
	<div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name %>
	</div>

	<div class="form-group">
	<%= f.label :course %>
	<%= f.text_field :course %>
	</div>

	<div class="form-group">
	<%= f.label :serving_size %>
	<%= f.text_field :serving_size %>
	</div>
	
	<div class="form-group">
	<%= f.label :instructions %>
	<%= f.text_area :instructions %>
	</div>

	<div class="form-group">
	<%= f.label :image %>
	<%= f.url_field :image %>
	</div>
	
	<div class="form-group">
	<%= f.submit %>
	</div>
	
	

<% end %>
</ul>