<h1>Sandwich Artists</h1>

<ul>
<% @artists.each do |artist| %>

	<li><%= artist.first_name %> <%= artist.last_name %></li>
	<li><%= link_to "Show", artist_path(artist) %></li>
	<li><%= link_to "Edit", edit_artist_path(artist) %></li>

	<% end %>
</ul>

<%= link_to "Add Artist", new_artist_path %>