<h2><%= @artist.first_name + " " + @artist.last_name %></h2>
<ul>
<li>Period: <%= @artist.period %></li>
<li>Nationality: <%= @artist.nationality %></li>
<li>Date of Birth: <%= @artist.date_of_birth %></li>
</ul>
<h2>Works of <%= @artist.first_name + " " + @artist.last_name %>:</h2>

<%= link_to "Back", artists_path %>