<!-- student.erb -->
<span><%= @full_names %></span>

<img src="<%= @current_stud_pic %>" width="200">

<h3> <%= @current_student %></h3><br> 
<h3>Website: </h3><p><a href="<%= @current_student_url %>"><%= @current_student %></a></p>

